.title-box{
    display: inline-block;
    /* float:left; */
    margin: 1%;
    box-sizing: border-box;
    width: 100px;
     height: 40px; 
    color: gray;
    position: relative;
    /* border-width: 2px;
    border-style: solid; */
    
}
.close{
    position: absolute;
    top: 1px;
   right:1px;
   size: 2px;
}

.btn-close{
    font-size: 10px;
    border: none;
background: none;
}

.titlelist{
display: inline-block;
margin: 1%;
width:81%;
}

.list{
    list-style-type: none;
     
}
.list-li{
    display: inline-block;
    box-sizing: border-box;
    width: 31%;
    
}


.btn-p{
    
border: none;
background: none;
font-size: x-large;
color: gray;

}
.btn-n{
   
border: none;
background: none;
font-size:  x-large;
color: gray;
}

.btn-a{
    
margin-left: 1%;
border: none;
background: none;
font-size:  25px;
color: gray;
}

.container{
    border: solid 1px ;
    border-radius: 5px;
    height: 90vh;
    box-sizing: border-box;
}